<div class="myContainer" style="top: 0px;">
    
    <nav class="navbar" style="border-width: 30px; box-shadow: 0px;">
        <div >
        <div class="container-fluid" style="border-width: 30px; box-shadow:0px;">
            <div class="navbar-header" style="border-width: 30px; box-shadow: 0px;">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars" style="color: black;"></a>
            </div>
        </div>
    </div>
    </nav>
    <section>
        
        <!-- Left Sidebar -->
        
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="../../../assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="../../index.html">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/typography.html">
                            <i class="material-icons">text_fields</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Logout</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2021-2022 <a href="javascript:void(0);">Stock Trading App</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content" style="top: 0px; margin-top: 10px;">
        
        <div class="container-fluid" style="top: 0px;">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="demo">
                        <div class="box">
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="box-contents">
                                <h1 style="color: white;"><small style="color: white;">Number of Shares</small>&nbsp;347</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="demo">
                        <div class="box">
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="box-contents">
                                <h1 style="color: white;"><small style="color: white;">Number of Shares</small>&nbsp;347</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="demo">
                        <div class="box">
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="hover-point"></div>
                            <div class="box-contents">
                                <h1 style="color: white;"><small style="color: white;">Number of Shares</small>&nbsp;347</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Dashboard
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">

                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 127px;">Ticker</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 90px;">Number of Shares</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39px;">Average Price</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 84px;">Current Price</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">P/L %</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" *ngFor="let item of dashboard">
                                            <td class="sorting_1">{{ item.stockTicker}}</td>
                                            <td>{{ item.numOfShares }}</td>
                                            <td>{{ item.avgPrice }}</td>
                                            <td>{{ item.currentPrice }}</td>
                                            <td>{{ item.profitOrLoss }}</td>
                                        
                                        </tr></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
            
        </div>
    </section>


</div>