<div>


<nav class="navbar" style="border-width: 30px; box-shadow: 0px;">
    <div >
    <div class="container-fluid" style="border-width: 30px; box-shadow:0px;">
        <div class="navbar-header" style="border-width: 30px; box-shadow: 0px;">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars" style="color: black;"></a>
        </div>
    </div>
</div>
</nav>
<section>
    <!-- Left Sidebar -->
    
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="../../images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                <div class="email">john.doe@example.com</div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="../../index.html">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="../../pages/typography.html">
                        <i class="material-icons">text_fields</i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="../../pages/helper-classes.html">
                        <i class="material-icons">layers</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="../../pages/helper-classes.html">
                        <i class="material-icons">layers</i>
                        <span>Wishlist</span>
                    </a>
                </li>
                <li>
                    <a href="../../pages/helper-classes.html">
                        <i class="material-icons">layers</i>
                        <span>Logout</span>
                    </a>
                </li>
                
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2021-2022 <a href="javascript:void(0);">Stock Trading App</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.5
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>

<section class="content" style="top: 0px; margin-top: 10px;">
    <div class="container-fluid" style="top: 0px;">
        <div class=""></div>
        <div class="row clearfix">
            <!-- Line Chart -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                <div class="card" style="padding-left: 15px; padding-top: 2px; padding-bottom: 10px;">
                    <h2>Your orders</h2>
                </div>
            </div> -->
            <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Your Orders
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="dt-buttons">
                                </div>
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">

                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 127px;">Order ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Position: activate to sort column ascending" style="width: 210px;">Stock Ticker</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Office: activate to sort column ascending" style="width: 90px;">Buy/Sell</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Age: activate to sort column ascending" style="width: 39px;">Volume</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" 
                                        aria-label="Start date: activate to sort column ascending" style="width: 84px;">Status Code</th>

                                </thead>
                                
                                <tbody>
                                <tr role="row" class="odd" *ngFor="let order of orderList">
                                        <td class="sorting_1">{{ order.orderId}}</td>
                                        <td> {{order.currentTime}}</td>
                                        <td>{{ order.stockTicker }}</td>
                                        <td>{{ order.price}}</td>
                                        <td> {{ order.buyOrSell }}</td>
                                        <td>{{ order.volume }}</td>
                                        <td> {{ order.statusCode}}</td>

                                    </tr></tbody>
                            </table><div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="DataTables_Table_1_previous"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="DataTables_Table_1_next"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</section>

</div>