<!-- <p> Current Price of stock is {{ price }} </p>

<div>
    <form>
        <label>Price</label>
        <input type="text"   name="price" readonly >
        <label> Volume </label>
        <input type="text" [(ngModel)]="order.volume" name="volume" required>
        <button (click)="buy()">Proceed</button>
    </form>

    <button (click)="test()">Demo</button>
</div> -->

<div style="top: 0px;">
    <!-- Page Loader -->
    <!-- <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div> -->
    <!-- #END# Page Loader -->
    
    <nav class="navbar" style="border-width: 30px; box-shadow: 0px;">
        <div >
        <div class="container-fluid" style="border-width: 30px; box-shadow:0px;">
            <div class="navbar-header" style="border-width: 30px; box-shadow: 0px;">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars" style="color: black;"></a>
            </div>
        </div>
    </div>
    </nav>
    <section>
        <!-- Left Sidebar -->
        
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="../../index.html">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/typography.html">
                            <i class="material-icons">text_fields</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../pages/helper-classes.html">
                            <i class="material-icons">layers</i>
                            <span>Logout</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2021-2022 <a href="javascript:void(0);">Stock Trading App</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content" style="top: 0px; margin-top: 10px;">
        <div class="container-fluid" style="top: 0px;">
            <div class=""></div>
            <div class="row clearfix">
                <!-- Line Chart -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 60%;">
                    <div class="card" style="padding-left: 15px; padding-top: 2px; padding-bottom: 10px;">
                        <h2>Company Name</h2>
                    </div>
                    <!-- Line Chart -->
                    <div class="card">
                        <!-- <div class="header">
                            <h2>LINE CHART</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="chart chart-line"><canvas width="60" height="45" style="display: inline-block; width: 60px; height: 45px; vertical-align: top;"></canvas></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="sparkline" style="overflow: scroll;" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"
                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(0, 150, 136)" data-spot-Color="rgb(0, 188, 212)"
                                 data-offset="90" data-width="100%" data-height="150px" data-line-Width="2" data-line-Color="rgb(0, 188, 212)"
                                 data-fill-Color="rgba(0, 188, 212, 0.3)">
                                6,4,7,8,4,3,2,2,5,6,7,4,1,5,7,9,9,8,7,6
                            </div>
                        </div> -->
                        <app-chart></app-chart>

                    </div>
                    <div class="card" style="padding-left: 15px; padding-top: 2px; padding-bottom: 10px;">
                        <h2>Price-Sumarry</h2>
                        <label>Today's High</label>
                        <span> </span>
                        <label>Today's Low</label>
                        <label>52 Week High</label>
                        <span class="spacing">{{ FHigh }}</span>
                        <label>52 Week Low</label>
                        <span class="spacing"> {{ FLow }}</span>
                    </div>
                    
                <!-- </div> -->
                </div>
                <!-- Buy Sell -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 40%;">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Trade Facility
                                <small>Cautionary message <b>important wordss</b> ...</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">T&C</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">About</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" data-toggle="tab">Sell</a></li>
                                        <li role="presentation"><a href="#profile" data-toggle="tab">Buy</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h4 style=" margin-left: 38%;">Sell Stocks</h4>
                                            <div class="body" style="width: 100%;">
                                                <form id="sell" method="POST" novalidate="novalidate">
                                                    <div *ngIf="errorMsg" class="alert alert-danger"> 
                                                        {{ errorMsg }} 
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">sell</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" name="price" placeholder="Price" required="" autofocus="" aria-required="true" value={{price}} readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">reorder</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" name="volume" [(ngModel)]="order.volume" placeholder="Volume" required="" autofocus="" aria-required="true" (ngModelChange)="onChange($event)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">payments</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" name="total" [value]=total placeholder="Total" required="" autofocus="" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="">
                                                            <button class="btn btn-block bg-pink waves-effect" (click)="sell()" type="submit">Proceed</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div role="tabpane2" class="tab-pane fade" id="profile">
                                            <h4 style=" margin-left: 38%;">Buy Stocks</h4>
                                            <div class="body" style="width: 100%;">
                                                <form id="buy" method="POST" novalidate="novalidate">
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">sell</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" name="price" placeholder="Price" required="" autofocus="" aria-required="true" value={{price}} readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">reorder</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control" [(ngModel)]="order.volume" name="volume" placeholder="Volume" required autofocus="" aria-required="true" (ngModelChange)="onChange($event)" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-bottom: 5px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">payments</i>
                                                            </span>
                                                            <div class="form-line">
                                                                <input type="text" class="form-control"  name="total" placeholder="Total" [value]=total readonly  autofocus="" aria-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="">
                                                            <button class="btn btn-block bg-pink waves-effect" (click)="buy()" type="submit">Proceed</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row clearfix">
                <!-- Line Chart -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="width: 100%;">
                    <div class="card" style="padding-left: 15px; padding-top: 2px; padding-bottom: 10px;">
                        <h2 >Company Essentials</h2>

                        <label> Market Cap </label>
                        <span class="spacing"> {{marketCap}}</span>
                        
                        <label> PE Ratio </label>
                        <span class="spacing"> {{ peRatio }} </span>
                        
                        <label> Shares </label>
                        <span class="spacing"> {{ shares }} </span>
                    
                        <label> Dividend Yield </label>
                        <span class="spacing"> {{ dividendYield }} </span>
                    
                    </div>
                    
                <!-- </div> -->
                </div>
            </div>
            
        </div>
    </section>
</div>